<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head('order')">

</head>
<body>
<header th:replace="common/template_menu::header">
</header>

<div id="Content">
    <div id="Catalog">

        <form action="/viewConfirmOrder" method="post" th:object="${order}">

            <table>
                <tr>
                    <th colspan=2>Payment Details</th>
                </tr>
                <tr>
                    <td>Card Type:</td>
                    <td>
                        <select name="cardType">
                            <option th:each="cardType:${session.creditCardTypes}" th:text="${cardType}">
                                ${cardType}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Card Number:</td>
                    <td>
                        <input type="text" name="creditCard" th:field="*{creditCard}">
                        * Use a fake number!
                    </td>
                </tr>
                <tr>
                    <td>Expiry Date (MM/YYYY):</td>
                    <td>
                        <input type="text" name="expiryDate" th:field="*{expiryDate}">
                    </td>
                </tr>
                <tr>
                    <th colspan=2>Billing Address</th>
                </tr>

                <tr>
                    <td>First name:</td>
                    <td>
                        <input type="text" name="billToFirstName" th:field="*{billToFirstName}">
                    </td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td>
                        <input type="text" name="billToLastName" th:field="*{billToLastName}">
                    </td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td>
                        <input type="text" name="billAddress1" th:field="*{billAddress1}">
                    </td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td>
                        <input type="text" name="billAddress2" th:field="*{billAddress2}">
                    </td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>
                        <input type="text" name="billCity" th:field="*{billCity}">
                    </td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td>
                        <input type="text" name="billState" th:field="*{billState}">
                    </td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td>
                        <input type="text" name="billZip" th:field="*{billZip}">
                    </td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>
                        <input type="text" name="billCountry" th:field="*{billCountry}">
                    </td>
                </tr>

                <tr>
                    <td colspan=2>
                        <a class="Button" id="shippingAddress" name="shippingAddressRequired"
                           th:field="*{shippingAddressRequired}">
                            Ship to different address...
                        </a>
                    </td>
                </tr>

            </table>
            <table class="shiptable" hidden="hidden">
                <tr>
                    <th colspan=2>Shipping Address</th>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td><input type="text" name="shipToFirstName" th:value="${session.order.shipToFirstName}"/></td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td><input type="text" name="shipToLastName" th:value="${session.order.shipToLastName}"/></td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td><input type="text" size="40" name="shipAddress1" th:value="${session.order.shipAddress1}"/></td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td><input type="text" size="40" name="shipAddress2" th:value="${session.order.shipAddress2}"/></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input type="text" name="shipCity" th:value="${session.order.shipCity}"/></td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td><input type="text" size="4" name="shipState" th:value="${session.order.shipState}"/></td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td><input type="text" size="10" name="shipZip" th:value="${session.order.shipZip}"/></td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td><input type="text" size="15" name="shipCountry" th:value="${session.order.shipCountry}"/></td>
                </tr>
            </table>
            <input type="submit" value="Continue">

        </form>
    </div>
</div>

<script type="text/javascript" src="../js/NewOrder.js"></script>
<footer th:replace="common/template_menu::footer">
</footer>
</body>
</html>